<%= flash[:success] %>
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<%= current_user.email %>

<%= link_to log_title, log_route, method: log_method %>
<%= link_to "View Cart", cart_path %>
