<h3>Order placed on <%= @order.created_at.strftime("%Y %B %d") %></h3>


<table class="items">
  <% @order.invoices.each do |invoice| %>
        <%= link_to invoice.item.title, item_path(invoice.item) %><br />
        Quantity:
        <%= invoice.quantity %><br />
        Unit Price:
        <%= invoice.item_cost %><br />
        Sub-total:
        <%= invoice.quantity_cost %><br />
  <% end %>
  Status:
  <b><%= @order.status %></b> on <%= @order.created_at.strftime("%B %d, %Y") %> at
  <%= @order.created_at.strftime("%l:%M %p") %><br />
</table>

Order total: <%= @order.total_cost %><br />

<%= link_to "Back to all orders", orders_path %>
