<h1>Order History</h1>
<% @cart_item.each do |item| %>
  Title: <%= item.title %>: <%= item.quantity %> <br>
  Description: <%= item.description %> <br>
  Unit Price: <%= item.format_price %> <br>
  Subtotal: <%= item.subtotal %> <br>
<% end %>

<h3>Total Cost: <%= @cart.total_cost %></h3>

<%= link_to "Checkout", checkout %>
