<h1>Order History</h1>
<% @cart_item.each do |item| %>
  <%= item.title %>: <%= item.quantity %> <br>
  <%= item.description %> <br>
  $<%= item.subtotal %> <br>
<% end %>

<h3>$<%= @cart.total_cost %></h3>

<%= link_to "Checkout", checkout %>
