<h1>Your cart!</h1> <br>
<h3>You have <%= @cart.total_count %> illegal items in your cart</h3> <br>

<% @cart.items.each do |item| %>
  <%= item.title %> <br>
  <%= item.description %> <br>
  $<%= item.price %> <br>

  <%= button_to "Remove #{item.title} from Cart!", edit_cart_path(item_id: item.id), class: "btn btn-danger" %> <br> <br>
<% end %>

<h3><%= @cart.total_cost %></h3>
