<%= sanitize(flash.now[:removed]) %>
<h1>Your cart!</h1> <br>
<h3>You have <%= @cart.total_count %> illegal items in your cart</h3> <br>

<!-- <<<<<<< HEAD
<% @cart_item.each do |item| %>
  Title: <%= item.title %> <br>
  Description: <%= item.description %> <br>
  Unit Price: <%= item.format_price %> <br>
  Total: <%= item.subtotal %> <br>
  Quantity: <%= item.quantity %>
  <%= link_to "+", cart_path(item_id: item.id, quantity: "+"), method: 'put' %>
  <%= link_to "-", cart_path(item_id: item.id, quantity: "-"), method: 'put' %><br>
  <%= link_to "Remove Item", cart_path(item_id: item.id), method: :delete, class: "btn btn-danger" %> <br> <br>
<% end %>
======= -->
<table>
  <% @cart_item.each do |item| %>
  <tr class="cycle('category_line_odd', 'category_line_even') %>">
    <td>
      <dl>
        <dt> Title </dt>
        <dd> <%= item.title %> </dd>
      </dl>
    </td>
    <td>
      <dl>
        <dt> Description </dt>
        <dd> <%= item.description %> </dd>
      </dl>
    </td>
    <td>
      <dl>
        <dt> Quantity </dt>
        <dd> <%= item.quantity %> </dd>
      </dl>
    </td>
    <td>
<!-- >>>>>>> origin/staging -->

      <dl>
        <dt> Unit Price </dt>
        <dd> <%= item.format_price %> </dd>
      </dl>
    </td>
    <td>
      <dl>
        <dt> Subtotal </dt>
        <dd> <%= item.subtotal %> </dd>
      </dl>
    </td>

    </td>
    <td class="list_actions">
      <%= link_to "+", cart_path(item_id: item.id, quantity: "+"), method: 'put' %>
      <%= link_to "-", cart_path(item_id: item.id, quantity: "-"), method: 'put' %><br>
    <%= link_to "Remove Item", cart_path(item_id: item.id), method: :delete, class: "btn btn-danger" %> <br> <br>
  </td>
  <% end %>
  </tr>
</table>

<h3 class="total_cost">Total Cost: <%= @cart.total_cost %></h3>

<%= checkout_cart_items %>
