<%= sanitize(flash.now[:removed]) %>
<h1>Your cart!</h1> <br>
<h3>You have <%= @cart.total_count %> illegal items in your cart</h3> <br>

<% @cart_item.each do |item| %>
  Title: <%= item.title %> <br>
  Description: <%= item.description %> <br>
  Unit Price: <%= item.format_price %> <br>
  Total: <%= item.subtotal %> <br>
  Quantity: <%= item.quantity %>
  <%= link_to "+", cart_path(item_id: item.id, quantity: "+"), method: 'put' %>
  <%= link_to "-", cart_path(item_id: item.id, quantity: "-"), method: 'put' %><br>
  <%= link_to "Remove Item", cart_path(item_id: item.id), method: :delete, class: "btn btn-danger" %> <br> <br>
<% end %>

<h3>Total Cost: <%= @cart.total_cost %></h3>

<%= checkout_cart_items %>
