<h1>Welcome to the Black Market of Horrors</h1>
<%= link_to "Log in", "/login" %>
<%= link_to "Sign up", "/signup" %>

<div class="categories">
  <% @categories.each do |category| %>
  <h1> <%= category.title %></h1>
    <%= image_tag category.image %>
    <%= link_to "View all #{category.title}", "/#{category.slug}" %>
  <% end %>
</div>
