<p id="notice"><%= notice %></p>

<h1><%= @category.title %></h1>
<%= image_tag(@category.image, class: 'banner_image')  %> <br>

<h3>Items in Cart: <%= @cart.total_count %></h3>

<table>
<% @items.each do |item| %>
  <tr class="<%= cycle('category_line_even', 'category_line_odd') %>" %>
    <td>
      <%= image_tag(item.image, class: 'category_image') %>
    </td>
    <td class="category_description">
      <dl>
        <dt><%= item.title %></dt>
        <dd><%= item.description %></dd>
      </dl>
    </td>
    <td class="price">
      <dl>
        <dt>
          <span class="price"><%= number_to_currency(item.price) %></span>
        </dt>
      </dl>
    </td>
    <td class="list_actions">
      <%= button_to "Add #{item.title} to Cart!", cart_path(item_id: item.id), class: "btn btn-danger" %>
    </td>
  </tr>
  <%= button_to "Add #{item.title} to Cart!", cart_path(item_id: item.id), class: "btn btn-danger" %> <br> <br>

<% end %>
</table>
