  <h1><%= @category.title %></h1>
  <%= image_tag @category.image %>

Cart: <%= @cart.total_count %>

<% @items.each do |item| %>
  <%= item.title %>
  <%= item.description %>
  <%= item.price %>
  <%= image_tag item.image %>

  <%= button_to "Add #{item.title} to Cart!", cart_path(item_id: item.id), class: "btn btn-danger" %>
<% end %>
