  <h1><%= @category.title %></h1>
  <%= image_tag @category.image %> <br>
<h3>
Items in Cart: <%= @cart.total_count %> <br>
</h3>
<% @items.each do |item| %>
  <%= item.title %> <br>
  <%= item.description %> <br>
  $<%= item.price %> <br>
  <%= image_tag item.image %> <br>

  <%= button_to "Add #{item.title} to Cart!", cart_path(item_id: item.id), class: "btn btn-danger" %> <br> <br>
<% end %>

<table>
  <% @categories.each do |category| %>
    <tr class="<%= cycle('category_line_odd', 'category_line_even') %>">
      <td>
        <%= image_tag(category.image, class: 'category_image') %>
      </td>

      <td class "category_title">
        <dl>
          <dt><%= category.title %></dt>
        </dl>
      </td>

      <td class="category_actions">
        <%= link_to 'View', "/#{category.slug}" %>
      </td>

    </tr>
    <% end %>
</table>
