<h1>All Users</h1>

<ul>

<% @users.each do |user| %>
<div class="user_list">

  <li>User id: <%= user.id %> </li>
  First: <%= user.first_name %><br />
  Last: <%= user.last_name %><br />
  Email: <%= user.email %><br />
  Role: <%= user.role %><br /><br />
</div>
<% end %>
</ul>
