<!DOCTYPE html>
<html>
  <head>
    <title>Black Shop Of Horrors</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'shopping_cart_image.png', alt: 'Little Shop of Horrors' %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= dashboard_if_logged_in %></li>
          <li><a href="www">FAQs</a></li>
          <li><a href="www">Contact</a></li>
          <li><a href="www">News</a></li>
          <li><%= login_logout_link %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "View Cart #{cart_count}", cart_path %></li>
        </ul>
      </div>
      <div id="main">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
